/candidates_additivemanufacturing_sample.jsonl
/candidates_blockchain_sample.jsonl
/candidates_computervision_sample.jsonl
/candidates_culturedmeat_sample.jsonl
/candidates_genomeediting_sample.jsonl
/candidates_hydrogenstorage_sample.jsonl
/candidates_naturallanguageprocessing_sample.jsonl
/candidates_selfdrivingvehicle_sample.jsonl
