/candidates_additivemanufacturing_sample.jsonl
/candidates_blockchain_sample.jsonl
/candidates_computervision_sample.jsonl
/candidates_culturedmeat_sample.jsonl
/candidates_genomeediting_sample.jsonl
/candidates_hydrogenstorage_sample.jsonl
/candidates_naturallanguageprocessing_sample.jsonl
/candidates_selfdrivingvehicle_sample.jsonl
/seed_additivemanufacturing.jsonl
/seed_blockchain.jsonl
/seed_computervision.jsonl
/seed_genomeediting.jsonl
/seed_hydrogenstorage.jsonl
/seed_naturallanguageprocessing.jsonl
/seed_selfdrivingvehicle.jsonl
/training_additivemanufacturing.jsonl
/training_blockchain.jsonl
/training_computervision.jsonl
/training_genomeediting.jsonl
/training_hydrogenstorage.jsonl
/training_naturallanguageprocessing.jsonl
/training_selfdrivingvehicle.jsonl
/test_additivemanufacturing.jsonl
/train_additivemanufacturing.jsonl
